<div class="container">
  <div class="row">
    <div class="card-content">
      <h4 class="card-title">Contacts</h4>
      <div class="content table-responsive">
        <table class="table">
          <thead class="text-primary">
            <tr>
              <th>UserId:</th>
              <th>id:</th>
              <th>title:</th>
              <th>body</th>
            </tr>
          </thead>
          <tbody *ngFor="let product of products">
            <th>{{product.userId}}</th>
            <th>{{product.id}}</th>
            <th>{{product.title}}</th>
            <th>{{product.body}}</th>
            <th>
              <button class="btn btn-primary"  (click)="openDialog()">Open
                <i class="fa fa-plus"></i>
              </button>
              <button class="btn btn-danger">Delete 
                <i class="fa fa-minus"></i>
              </button>
            </th>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


